name: Pull Request

on:
  pull_request:
    branches: [ master ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK version
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Setup Gradle cache
        uses: gradle/gradle-build-action@v2.4.2

      - name: Build modules
        run: ./gradlew build -x test

      - name: Run unit tests
        run: ./gradlew testDebugUnitTest

  acceptance:
    runs-on: macos-13
    environment: PR

    env:
      ORG_GRADLE_PROJECT_com.basistheory.elements.example.apiUrl: https://api.flock-dev.com
      ORG_GRADLE_PROJECT_com.basistheory.elements.example.apiKey: ${{ secrets.BT_API_KEY }}

    strategy:
      matrix:
        api-level: [ 29 ]

    steps:
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup JDK version
        uses: actions/setup-java@v3
        with:
          java-version: '17'
          distribution: 'adopt'
          cache: 'gradle'

      - name: Setup Gradle cache
        uses: gradle/gradle-build-action@v2.4.2

      - name: Run tests
        uses: reactivecircus/android-emulator-runner@v2
        with:
          api-level: ${{ matrix.api-level }}
          force-avd-creation: false
          emulator-options: -no-snapshot-save -no-window -gpu swiftshader_indirect -noaudio -no-boot-anim -camera-back none
          target: default
          arch: x86_64
          profile: pixel_3a
          script: |
            adb shell settings put global window_animation_scale 0
            adb shell settings put global transition_animation_scale 0
            adb shell settings put global animator_duration_scale 0
            ./gradlew connectedCheck

  security:
    name: Security scan
    uses: Basis-Theory/public-security-workflows/.github/workflows/pr-check.yml@master
    secrets: inherit